:root {
  --main-pale-red: #ffc7b6;
  --main-dark-grayish: #5f7e7e;
  --borders-light-red: #ff6979;
  --borders-verypale-red: #ffeee9;
  --borders-grayish-cyan: #c1d0d0;
  --borders-black: #333333;
  --borders-white: white;
  --borders-light-grayish: #eaeaea;
}
* {
  /* background: var(--main-pale-red); */
}

body {
  font-family: 'Nanum Pen Script', cursive;
  overflow-x: hidden;
  padding-top: 11vh;
  background: var(--borders-verypale-red: #ffeee9);
  margin: 0;
  padding: 0;
}

.capitalize {
  text-transform: capitalize;
  text-align: center;
}

.link {
  text-decoration: none;
  color: black;
}

.error {
  color: red;
  display: inline-block;
}

button {
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
  background: var(--borders-light-red);
  border: none;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  font-family: 'Nanum Pen Script', cursive;
}

button:hover {
  border: 1px solid var(--main-dark-grayish);
  box-shadow: 1px 1px 1px #eaeaea;
  color: #333333;
  background: #c1d0d0;
}

button:active {
  box-shadow: inset 1px 1px 1px #dfdfdf;
}

.welcome h1 {
  font-style: italic;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.welcome img {
  height: 350px;
  width: 350px;
  align-self: center;
}

.welcome-top {
  width: 100vw;

  background: #ffc7b6;
}
.welcome {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  background: #ffc7b6;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.reg-log {
  height: 50vh;
  width: 50vw;
  position: relative;
  top: 15%;
}

.logo-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  margin-left: 100px;
}

.register,
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
}

.form-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--main-dark-grayish);
  border-radius: 20px;
}

input[type='text'],
input[type='password'] {
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid var(--borders-light-red);
  background: var(--borders-verypale-red);
}

:focus {
  outline: none;
}

.input-field {
  float: left;
  width: 50%;
  margin: 10px;
  position: relative;

  border-radius: 10px;
}

.effect {
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid black;
}

.effect ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  /* background-color: var(--main-dark-grayish);
  transition: 0.4s; */
}

/* .effect:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0;
} */

/* .box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.box select {
  background-color: var(--main-dark-grayish);
  color: white;
  padding: 6px;
  border: 2px solid var(--borders-light-red);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  outline: none;
  border-radius: 10px;
  width: 140px;
}

/* .box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
} */

.box select option {
  padding: 30px;
}

.navigation {
  background: var(--main-dark-grayish);
  height: 10vh;
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  top: 0;
  left: 0;
  align-items: center;
  z-index: 1;
}

.nav-section {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigation img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  display: block;
  cursor: pointer;
  background: var(--main-dark-grayish);
}
.nav-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-items p {
  margin: 0;
}

#nav-logo {
  height: 70px;
  width: 100px;
  object-fit: cover;
}

#mypic {
  object-fit: cover;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

/* COMMON STUFF */

.main {
  height: 100vh;
  /* position: relative; */
  top: -20px;
  right: 0;
  left: 0;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  background-color: var(--borders-verypale-red);
}

#default {
  background-image: url('room.jpg');
  background-size: cover;
}

/* HEADER */

.header {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(231, 231, 231);
}

/* PROFILE */

.profile-main {
  height: 100vh;
  display: flex;
}
.header-profile {
  justify-content: space-around;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
  top: 10vh;
  margin-top: 10px;
}

.header-profile h2 {
  align-self: center;
}

.profilepic-container {
  height: 200px;
  width: 200px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profilepic-uploader {
  height: 150px;
  width: 150px;
  margin: 20px;
  position: relative;
}
.icon-events {
  width: 30px;
  height: 30px;
}

.profilepic {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

label {
  cursor: pointer;
}

.uploader {
  top: 0;
  height: 100%;
  text-align: center;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 50%;
}

.profile-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
}

.profile-info h2 {
  font-size: 18px;
}

.profile-info p {
  font-size: 14px;
}

#file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.userEvents {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  position: relative;
  /* top: 10vh; */
}
.userEventsNeed {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  align-self: flex-start;
  height: 50vh;
  scrollbar-width: none;
}

.userEventsOffer {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  align-self: flex-start;
  height: 50vh;
  scrollbar-width: none;
}

.event-title {
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schedule-container-need {
  background: var(--borders-light-red);
  text-align: center;
  width: 60%;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  margin-bottom: 5px;
  color: white;
}

.schedule-container-offer > p,
h3 {
  margin: 0 auto;
}
.schedule-container-need > p,
h3 {
  margin: 0 auto;
}

.schedule-container-offer {
  background: var(--main-dark-grayish);
  text-align: center;
  width: 60%;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  margin-bottom: 5px;
  color: white;
}
::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent;
}

.bioeditor {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.setbio {
  /* position: relative; */
  top: 20vh;
}

.setbio img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  /* border: 10px solid var(--borders-light-red); */
  border-radius: 20px;
  object-fit: cover;
}
.setbio h1 {
  text-align: center;
  margin: 0 auto;
  color: var(--borders-light-red);
  padding: 20px;
}

.bio-img-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--borders-grayish-cyan);
  height: 40vh;
  align-items: center;
}

.family-bio {
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
  background: var(--borders-grayish-cyan);
  justify-content: space-around;
}
.family-bio button {
  align-self: center;
}

.pets {
  border-radius: 20px;
}

.bio-animals {
  display: flex;
  flex-direction: row;
}

.bio-animals-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  width: 20vw;
  height: 15vh;
}

button .add-member {
  align-self: center;
}

.ratings {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 20vh;
  justify-content: space-evenly;
  align-items: center;
}

/* CHAT */

#chat-header img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.chat-side {
  width: 20vw;
  height: 100vh;
  border-left: 1px solid rgb(168, 203, 209);
}

.profiles {
  overflow: scroll;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  scrollbar-width: none;
  position: relative;
  top: 10vh;
}

.profile-main {
  top: 10vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* .profiles-end {
  width: 100%;
  height: 10%;
  background-color: var(--main-pale-red);
} */

.profiles img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.chat-member {
  display: flex;
  padding: 6px;
}

.chat-member p {
  display: inline-block;
  padding-left: 10px;
  color: var(--main-dark-grayish);
  font-weight: bold;
}

#chat-header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.chat-main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.chat-room {
  height: 80vh;
  width: 80vw;
  position: relative;
  top: 10vh;
}

.chat {
  height: 100%;
  overflow-y: auto;
  border-left: 1px solid rgb(231, 231, 231);
  background: white;
  scrollbar-width: none;
}

.chatMessage-container {
  padding-left: 10px;
}

.chat-message {
  padding: 2px 30px 2px 30px;
  display: inline-block;
  max-width: 80%;
  background: white;
  margin: 5px;
  border-radius: 25px;
}

#my-message {
  text-align: right;
  padding-left: 0;
  padding-right: 10px;
}

.chat-message p {
  margin: 5px 0 5px 0;
}

p.words {
  max-width: 100%;
  word-wrap: break-word;
  font-size: 18px;
}

#chat-name {
  color: var(--borders-light-red);
  font-weight: bold;
  display: flex;
}

#message-details {
  font-style: italic;
  font-size: 12px;
  color: var(--borders-grayish-cyan);
}

.text-area {
  height: 10vh;
  background: var(--borders-light-red);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

textarea {
  width: 80%;
  height: 35px;
  line-height: 35px;
  padding: 8px 20px 8px 20px;
  font-size: 16px;
  border-radius: 25px;
  border: none;
}

/* CALENDAR */

.calendar-main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--main-pale-red);
  position: relative;
  top: 10vh;
}

.calendar-main h1 {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-pale-red);
}

.calendar {
  height: 80%;
  width: 80%;
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  background: var(--borders-verypale-red);
}

.event-scheduler-container {
  z-index: 10;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-scheduler {
  position: relative;
  border-radius: 25px;
  background-color: white;
  height: 400px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-scheduler #event-input {
  width: 300px;
}

#event-input {
  margin: 50px 0 25px 25px;
}

.time-picker-container {
  margin: 70px 0 25px 25px;
}

.time-picker-container span {
  display: flex;
}

.time-picker-container-div {
  display: flex;
  align-items: center;
}

.time-picker-container .time-picker-date {
  margin-right: 12px;
}

.time-picker,
.time-picker2 {
  width: 100px;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: var(--borders-light-red);
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}

.close:hover {
  background: rgb(231, 231, 231);
}

input[name='event'] {
  font-size: 25px;
  text-align: left;
}

.event-button {
  font-size: 22px;
  border: none;
  color: black;
  font-weight: normal;
  background: none;
  background: white;
  border: none;
  padding: 0;
}

.calendar-container {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.calendar-icon {
  height: 25px;
  margin-right: 10px;
}

.event-button:hover {
  border: none;
  box-shadow: none;
  color: var(--borders-light-red);
  background: white;
}

button:active {
  box-shadow: none;
}

.event-scheduler .error {
  margin-left: 20px;
  font-size: 20px;
}

.arrow {
  height: 25px;
  width: 25px;
}

.rbc-toolbar-label {
  font-size: 23px;
}

.time-picker-container select {
  font-size: 16px;
  border: none;
  padding: 0;
}

.event-info {
  padding: 50px;
  width: 50%;
}

.event-info h3 {
  text-decoration: underline;
  margin-bottom: 40px;
}

.popover-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.popover-section img {
  cursor: pointer;
}

.popover-img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
}

/* HOME */

.home-title {
  text-align: center;
  font-size: 28px;
  color: var(--borders-light-red);
  margin: 15px;
}

.home-box-w {
  height: 40vh;
  background: var(--borders-verypale-red);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home-w {
  display: flex;
  height: 25vh;
  width: 40vw;
  background: var(--borders-grayish-cyan);
  border-radius: 20px;
  flex-direction: column;
  margin: 20px 40px;
  justify-content: center;
  align-items: center;
}
.home-w img {
  width: 30px;
  height: 30px;
}
.home-w p {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
.about {
  display: flex;
  flex-direction: row;
}

.home-x {
  display: flex;
  height: 25vh;
  width: 40vw;
  background: var(--borders-grayish-cyan);
  border-radius: 20px;
  flex-direction: column;
  margin: 20px 40px;
  justify-content: center;
  align-items: center;
}
.home-x img {
  width: 30px;
  height: 30px;
}
.home-x p {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
.mission {
  display: flex;
  flex-direction: row;
}
.home-box-y {
  height: 40vh;
  background: var(--borders-grayish-cyan);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.home-y {
  display: flex;
  height: 35vh;
  width: 20vw;
  background: var(--borders-verypale-red);
  border-radius: 20px;
  flex-direction: column;
  margin: 20px 40px;
}
.home-y img {
  width: 40px;
  height: 40px;
  align-self: center;
}
.home-y p {
  text-align: center;
  margin: 10px;
}

.home-a {
  display: flex;
  height: 35vh;
  width: 20vw;
  background: var(--borders-verypale-red);
  border-radius: 20px;
  flex-direction: column;
  margin: 20px 40px;
}
.home-b {
  display: flex;
  height: 35vh;
  width: 20vw;
  background: var(--borders-verypale-red);
  border-radius: 20px;
  flex-direction: column;
  margin: 20px 40px;
}
.home-b img {
  width: 40px;
  height: 40px;
  align-self: center;
}
.home-a img {
  width: 40px;
  height: 40px;
  align-self: center;
}
.home-b p {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  margin: 10px;
}
.home-a p {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  margin: 10px;
}

.home-box-z {
  height: 40vh;
  background: var(--borders-grayish-cyan);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.home-z {
  display: flex;
  height: 35vh;
  width: 20vw;
  background: var(--borders-verypale-red);
  border-radius: 20px;
  flex-direction: column;
  margin: 20px 40px;
}
.home-z img {
  width: 40px;
  height: 40px;
  align-self: center;
}
.home-z p {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  margin: 10px;
}

.home-title-m {
  text-align: center;
  font-size: 28px;
  color: var(--borders-light-red);
}

.home-box-m {
  height: 40vh;
  background: var(--borders-grayish-cyan);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.home-m {
  display: flex;
  height: 35vh;
  width: 18vw;
  background: var(--borders-verypale-red);
  border-radius: 20px;
  flex-direction: column;
  margin: 20px 40px;
}
.home-m img {
  width: 50px;
  height: 50px;
  align-self: center;
}
.home-m p {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  margin: 10px;
}
.match {
  display: flex;
  flex-direction: row;
}

.home-title-i {
  text-align: center;
  font-size: 28px;
  color: white;
  margin: 5px;
}

.home-i {
  display: flex;
  height: 40vh;
  width: 20vw;
  background: var(--borders-light-red);
  border-radius: 20px;
  flex-direction: column;
  margin: 0;
  color: white;
  position: fixed;
  justify-content: center;
  right: 15px;
  bottom: 10px;
}
.home-i img {
  width: 30px;
  height: 30px;
  margin: 5px;
}
.home-i p {
  text-align: center;
  margin: 10px;
}
.important {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.home {
  font-size: 45px;
  text-align: center;
  margin: 10px;
  color: var(--main-dark-grayish);
}
.how-it-works {
  font-size: 45px;
  text-align: center;
  margin: 5px;
  background: var(--borders-grayish-cyan);
  color: var(--borders-light-red);
  margin: 0 auto;
  padding: 20px;
}
